<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <title>Delivery Note VSL30792</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="invoice-container">
        <!-- PAGE 1: FULL HEADER -->
        <div class="page-1-header">
            <div class="logo-header">
                <div class="logo-text">VAPE SHOP</div>
                <div class="logo-subtext">DISTRO</div>
            </div>
            
            <div class="company-info">
             <div> MIDLAND DISTRO LIMITED</div> 
                87 HANDSWORTHWOOD ROAD, BIRMINGHAM, West Midlands, England, B20 2DH
            </div>

            <div class="delivery-header">
                <div class="header-item">
                    <div class="label">DELIVERY NOTE: </div>
                    <div class="value"> VSL30792</div>
                </div>
                <div class="header-item">
                    <div class="label">DATE:</div>
                    <div class="value">12/03/2026</div>
                </div>
            </div>
        </div>

        <div class="deliver-to-section">
            <div >Deliver To</div>
            <p>Vape Supplier Ltd<br>
            Unit B5 Electra Park Ind Estate<br>
            Birmingham<br>
            B6 7EB</p>
        </div>

        <!-- TABLE WITH REPEATING HEADER -->
        <div class="table-section">
            <table class="items-table">
                <thead>
                    <tr>
                        <th class="col-description">Description</th>
                        <th class="col-qty">Qty</th>
                        <th class="col-remark">Remark</th>
                        <th class="col-weight">Weight</th>
                        <th class="col-amount">Box Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>OXVA OX Passion 5mg Nic Salt [Cherry BBG / 5mg]</td>
                        <td class="text-center">100</td>
                        <td>BOX NO.1</td>
                        <td class="text-center">6KG</td>
                        <td class="text-right">150.00</td>
                    </tr>
                    <tr>
                        <td>OXVA OX Passion 20mg Nic Salt [Fruity Gum / 20mg]</td>
                        <td class="text-center">100</td>
                        <td></td>
                        <td class="text-center">6KG</td>
                        <td class="text-right"></td>
                    </tr>
                    <tr>
                        <td>OXVA OX Passion 20mg Nic Salt [Pink Lemon Bubbly / 20mg]</td>
                        <td class="text-center">100</td>
                        <td>BOX NO.2</td>
                        <td class="text-center">6KG</td>
                        <td class="text-right">150.00</td>
                    </tr>
                    <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Strawberry Raspberry Mojito / 10mg]</td>
                        <td class="text-center">100</td>
                        <td></td>
                        <td class="text-center">6KG</td>
                        <td class="text-right"></td>
                    </tr>
                    <tr>
                        <td>OXVA OX Passion 20mg Nic Salt [Lychee Ice / 20mg]</td>
                        <td class="text-center">100</td>
                        <td>BOX NO.3</td>
                        <td class="text-center">6KG</td>
                        <td class="text-right">150.00</td>
                    </tr>
                    <tr>
                        <td>OXVA OX Passion 20mg Nic Salt [Strawberry Coconut / 20mg]</td>
                        <td class="text-center">100</td>
                        <td></td>
                        <td class="text-center">6KG</td>
                        <td class="text-right"></td>
                    </tr>
                    <tr>
                        <td>OXVA OX Passion 20mg Nic Salt [Blue Bubble / 20mg]</td>
                        <td class="text-center">100</td>
                        <td>BOX NO.4</td>
                        <td class="text-center">6KG</td>
                        <td class="text-right">150.00</td>
                    </tr>
                    <tr>
                        <td>OXVA OX Passion 20mg Nic Salt [Citrus Mango Guava / 20mg]</td>
                        <td class="text-center">100</td>
                        <td></td>
                        <td class="text-center">6KG</td>
                        <td class="text-right"></td>
                    </tr>
                    <tr>
                        <td>OXVA OX Passion 20mg Nic Salt [Melon Berries / 20mg]</td>
                        <td class="text-center">100</td>
                        <td>BOX NO.5</td>
                        <td class="text-center">6KG</td>
                        <td class="text-right">150.00</td>
                    </tr>
                    <tr>
                        <td>OXVA OX Passion 20mg Nic Salt [Pink Guava / 20mg]</td>
                        <td class="text-center">100</td>
                        <td></td>
                        <td class="text-center">6KG</td>
                        <td class="text-right"></td>
                    </tr>
                    <tr>
                        <td>OXVA OX Passion 20mg Nic Salt [Blueberry Fizz / 20mg]</td>
                        <td class="text-center">100</td>
                        <td>BOX NO.6</td>
                        <td class="text-center">3KG</td>
                        <td class="text-right">75.00</td>
                    </tr>
                    <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Pina Daiquiri / 10mg]</td>
                        <td class="text-center">190</td>
                        <td>BOX NO.7</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">142.50</td>
                    </tr>
                    <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Mint Mix / 10mg]</td>
                        <td class="text-center">190</td>
                        <td>BOX NO.8</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">142.50</td>
                    </tr>
                    <tr>
                        <td>OXVA OX Passion 5mg Nic Salt [Lychee Ice / 5mg]</td>
                        <td class="text-center">100</td>
                        <td>BOX NO.9</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">135.00</td>
                    </tr>
                    <tr>
                        <td>OXVA OX Passion 5mg Nic Salt [Strawberry Raspberry Cherry / 5mg]</td>
                        <td class="text-center">80</td>
                        <td></td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right"></td>
                    </tr>
                    <tr>
                        <td>OXVA OX Passion 5mg Nic Salt [Strawberry Melon / 10mg]</td>
                        <td class="text-center">100</td>
                        <td>BOX NO.10</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">135.00</td>
                    </tr>
                    <tr>
                        <td>OXVA OX Passion 5mg Nic Salt [Blue Sour Razz / 5mg]</td>
                        <td class="text-center">80</td>
                        <td></td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right"></td>
                    </tr>
                    <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr>
                     <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr> <tr>
                        <td>OXVA OX Passion 10mg Nic Salt [Melon Banana / 10mg]</td>
                        <td class="text-center">160</td>
                        <td>BOX NO.11</td>
                        <td class="text-center">5.5KG</td>
                        <td class="text-right">120.00</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- FOOTER: Always on Last Page -->
        <div class="delivery-footer">
            <div class="footer-line">
                <strong>DELIVERY SERVICE: VAPE SHOP DISTRO [SELF]</strong>
            </div>
            <div class="footer-line">
                <strong>VEHICAL NO.:</strong> BV63 BDU
            </div>
            <div class="footer-line">
                <strong>DRIVER NAME:</strong> SUKHDEEP SINGH / RAJ BENNING
            </div>
            <div class="footer-spacing"></div>
            <div class="footer-line">
                <strong>RECEIVER NAME:</strong> ___________________________________
            </div>
            <div class="footer-spacing"></div>
            <div class="footer-line">
                <strong>RECEIVER SIGN:</strong> ___________________________________
            </div>
        </div>
    </div>
    <button onclick="generatePDF()" style="margin: 20px; padding: 10px 20px; cursor: pointer;">
    Download PDF
</button>
</body>
<script>
function generatePDF() {
    const element = document.querySelector('.invoice-container');
    
    const options = {
        margin: [5,0],
        filename: 'DeliveryNote_VSL30792.pdf',
        image: { type: 'jpeg', quality: 1.0 },
        html2canvas: { scale: 2, useCORS: true, scrollY: 0 },
        jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
    };

    html2pdf().set(options).from(element).toPdf().save();
}
</script>
</html></script>
</html>